/*{
outline: 1px solid blue;
}*/
/*inicio Menu*/

.list-nav{
	text-align: right;
}

.list-nav li{
	display: inline-block;
}
.list-nav a{
	display: block;
	padding: 5px 20px;
	color: #FAFAFA;
	text-decoration: none;
	font-family: "Oswald", Arial,Sans-serif;
	/*text-transform: uppercase; esto es para poner en mayuscula si se escribio en minúscula*/ 
	transition: all 0.5s;/*esto se pone en el estado original*/
}
.list-nav a:hover{
	text-decoration: none;
	color:;
	background: #ececec;
	transform: scale(1.3);/*con esto el menu cambia de tamaño*/
}
.overlay{
	background: rgba(0, 0, 0, .5); 
   	height: 100%;
}
/*Fin Menú*/

/*Contenido del header*/
.header-content{
	background: url("../img/background/hero.jpg") no-repeat;
	background-size: 100% auto;
	height: 680px;
	color:#FAFAFA;
}

.centro{
	text-align: center;
	padding:180px 100px ;/*no es necesaria que le ponga la unidad*/
	color:#FFFFFF;
}
/*Fin del contenido del header*/
/*menú íconos*/
.menu2{
	margin:100px 0;
}
.menu2 ul{
	list-style: none;
	text-decoration: none;
}
.menu2 span{
	font-size: 50px;
	color:#0dc0c0;
}
/*fin menú íconos*/
/*Compus*/
.compus{
background-color: #FAFAFA;
background-size: 100% auto;
padding-bottom: 40%;
text-align: center;
padding: 1px 15px 0 15px;
margin-bottom: 40px;
}
.compus img{
width: 100%;
}
.compus h1{
	padding: 20px;
}
/*fin compus*/
/*menú 3*/
.menu3{
	padding: 30px 0 30px 0;
	text-align: justify;
}
.menu3 h4{
	text-align: left;
}
.menu3 ul{
	list-style: none;
	text-decoration: none;
}
.menu3 span{
	font-size: 30px;
	color:#0dc0c0;
}
/*fin menú 3*/
/*Portfolio*/
.porta-menu{
	background-color: #f4f4f4;
	padding-bottom: 80px;
}
.porta{
	text-align: center;
	padding:20px;
}
.porta ul li{
	list-style: none;
	text-decoration: none;
	background: white;
}
.porta img{
	padding-top: 10px;
}
.porta h4{
	color:#2D323A;
	margin-bottom: 0;
}
.porta p{
	color:#888888;
}
/*fin del portafolio*/
/*inicio fondo2*/
.fondo2{
background: url("../img/background/city.jpg") no-repeat center center;
background-size: 100% auto;
height: 400px;
color:#FAFAFA;
text-align: center;
padding:130px 100px;
}
.letra{ 
padding:130px 100px;/*no es necesaria que le ponga la unidad*/
}
/*fin fondo2*/

/* start package*/
.package{
	background-color: #f4f4f4;
}
/*end package*/
/*customer*/
.costumer{
	text-align: center;
	margin:50px;
}
.costumer img{
	border-radius: 50%;
	height: 205px;
	padding:40px 0 20px 0;
}
/*end customer*
/*contact us*/
.fondo3{
	text-align: center;
	background: url("../img/background/contactus.jpg") no-repeat center;
	background-size: 100% auto;
	height: 600px;
	color: #FAFAFA;
}
.fondo3 h2{
	text-align: left;
}
.fondo3 p{
	text-align: justify;
}
.contact{
	margin:40px;
}
.form-control{
opacity:0.5;
margin-top: 20px;
}
.columna1, .columna2{
	padding:0 70px 30px 0;
}

.btn-submit{
	text-align: center;
	margin-top: 20px;
	color: #FFF;
	background-color: #0DC0c0;
	border: #0DC0c0;
	width: 110px;
	height: 50px;
	margin-right: 400px;
}
.addres{
	margin-top: 40px;
}
.addres span{
	padding-right: 20px;
}
/*end contact us*/
/*follow*/
.follow{
	margin:50px 0;
}
.follow p{
	padding: 20px 150px
}
.follow i{
	font-size: 30px;
	margin:5px;
}
/*end follow*/
footer{
	background-color:#2D323A;
	color: #C9D1D6;
	height: 100px;
	padding-top: 40px;
}